* {
    box-sizing: border-box;
    line-height: 1;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: #000000;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-size: 28px;
    background-image: url(../img/bg.png);
    background-attachment: fixed;
    background-position: right 150px;
    background-repeat: no-repeat;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 13px;
    padding-bottom: 13px;
    min-height: 80px;
}

.header-inner {
    display: flex;
    align-items: center;
}

.lang {
    font-family: 'Tourney';
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0.04em;
    margin-right: 50px;
}

.list-header {
    display: flex;
}

.item-header {
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.03em;
}

.one::after {
    content:'/';
    margin: 0 10px;
}

.logo {
    width: 238px;
    height: 54px;
}

.main-info .container {
    display: flex;
    padding-top: 70px;
    padding-bottom: 90px;
}

.aside-list {
    font-family: 'Francois One', sans-serif;
    font-size: 36px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    position: sticky;
    top: 160px;
    list-style: none;
    margin-right: 30px;
    padding: 10px 6px 10px 10px;
    min-width: 385px;
}

.aside-item {
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 10px;
}

.aside-item:not(:last-child) {
    margin-bottom: 70px;
}

.section {
    position: relative;
}

section:not(:last-child) {
    margin-bottom: 70px;
}

.title-section {
    display: flex;
    align-items: flex-start;
    font-family: 'Francois One', sans-serif;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.title-section::before {
    content: '';
    width: 100px;
    height: 8px;
    position: absolute;
    top: -20px;
    background-color: #000000;
}

.title-section span {
    font-family: 'Farro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    margin-left: 10px; 
    line-height: 1;
}

.text,
.list {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    line-height: 48px;
}

.text:not(:last-child) {
    margin-bottom: 40px;
}

.list-item:not(:last-child) {
    margin-bottom: 40px;
}

.underline {
    text-decoration: underline;
}

.cursive {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

.background {
    background-color: #DADADA;
}

@media only screen and (max-width:991px) {
    .main-info .container {
        flex-direction: column;
    }

    .aside-list {
        font-size: 30px;
        margin-right: 0px;
        padding: 10px;
        text-align: center;
        margin-bottom: 100px;
    }

    .aside-item:not(:last-child) {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width:800px) {
    
    body {
        font-size: 24px;
        background-size: 500px;
    }

    header .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .header-inner {
        flex-direction: column-reverse;
    }

    .lang {
        margin-right: 0px;
    }

    .list-header {
        display: flex;
        margin-bottom: 10px;
    }
    
    .one::after {
        content:'/';
        margin: 0 6px;
    }
    
    .logo {
        width: 238px;
        height: 54px;
        margin-bottom: 15px;
    }

    .main-info .container {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .title-section {
        font-size: 30px;
    }

    .title-section span {
        font-size: 14px;
    }
}

@media only screen and (max-width:600px) {
    
    body {
        font-size: 22px;
        background-size: 400px;
    }
    
    .aside-list {
        font-size: 25px;
        margin-bottom: 80px;
    }

    .aside-item:not(:last-child) {
        margin-bottom: 35px;
    }
}

@media only screen and (max-width:450px) {
    
    body {
        font-size: 19px;
        background-size: 300px;
    }

    .lang {
        font-size: 15px;
    }

    .item-header {
        font-size: 19px;
    }

    .logo {
        width: 150px;
        height: 40px;
    }
    
    .aside-list {
        min-width: 0px;
        font-size: 21px;
    }

    .title-section {
        display: flex;
        flex-direction: column;
        font-size: 25px;
    }

    .title-section span {
        margin-left: 0px;
        font-size: 12px; 
    }

    .text,
    .list {
    line-height: 42px;
}

    .text:not(:last-child) {
        margin-bottom: 20px;
    }
    
    .list-item:not(:last-child) {
        margin-bottom: 20px;
    }
}







